.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}
.spacing{
  margin-right:5px;
}

.row > div {
  flex: 1;
  background:white;
  border: 1px solid grey;
}
.addCategory{
  margin-top: 2rem;
  text-align: center;  
}
button input{
  margin-left: 2rem;
}

/* .categoryList {
  background-color: blue
} */
.App-link {
  color: #61dafb;
}

